/* PUT YOUR CUSTOM CSS HERE */

.main {
	padding-top: 5%;
	padding-bottom: 5%;
}

.blogpost {
	padding-top: 5%;
	padding-bottom: 5%;
}

.footer {
	background: #383838;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer p {
	color: #f7f7f7;
}